body{
    padding: 5px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: black;
}
.accordion-item{
    display: inline;
}
.col-4 {
    display: flex;
}
h1{
    font-size: 2em;
}